language: node_js

node_js:
  - "11"

branches:
  except:
    - gh-pages

notifications:
  email: false

script:
  - yarn run build

# https://docs.travis-ci.com/user/deployment/pages/

before_deploy:
  - export DISTDIR=/tmp/dist
  - git fetch origin gh-pages:gh-pages
  - git worktree add ${DISTDIR} gh-pages
  - cp ./build-web/iottalkjs-web.js ${DISTDIR}/iottalkjs.js
  - cp ./build-web/iottalkjs-web.js ${DISTDIR}/iottalkjs-${TRAVIS_COMMIT}.js
  - echo "TRAVIS_TAG = ${TRAVIS_TAG}"
  - echo "TRAVIS_BRANCH = ${TRAVIS_BRANCH}"
  - if [ "${TRAVIS_TAG}" ]; then
      echo 'Add tags build';
      cp ./build-web/iottalkjs-web.js ${DISTDIR}/iottalkjs-${TRAVIS_TAG}.js;
    fi

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN  # Set in the settings page of your repository, as a secure variable
  keep_history: true
  local_dir: /tmp/dist
  on:
    all_branches: true
    condition: $TRAVIS_BRANCH == "master" || -n $TRAVIS_TAG
